<!DOCTYPE html>
<aside class="sidebar super-admin-sidebar">
    <div class="sidebar-logo">SIH SuperAdmin</div>
    <nav class="sidebar-nav">
        <a href="../super-admin-Dashboard/super-admin-dashboard.html" class="sidebar-link">Global Dashboard</a>
        <a href="../super-admin-Dashboard/admin-request-to-super-admin.html" class="sidebar-link">Pending Admins</a>
        <a href="../super-admin-Dashboard/super-admin-all-colleges.html" class="sidebar-link">All Colleges</a>
    </nav>
</aside>