<!DOCTYPE html>
<aside class="sidebar user-sidebar">
    <div class="sidebar-logo">SIH Student</div>
    <nav class="sidebar-nav">
        <a href="../user-dashboard/user-dashboard.html" class="sidebar-link">Dashboard</a>
        <a href="../user-dashboard/user-my-details.html" class="sidebar-link">My Details</a>
        <a href="../user-dashboard/user-my-team.html" class="sidebar-link">My Team</a>
        <a href="../user-dashboard/user-create-team.html" class="sidebar-link">Create a Team</a>
        <a href="../user-dashboard/user-find-teammate.html" class="sidebar-link">Find a Teammate</a>
        <a href="../user-dashboard/user-teams.html" class="sidebar-link">Join Requests</a>
    </nav>
</aside>